div.jumbotron{
  background-image: url("https://media.giphy.com/media/xT0BKrnIzoS0QFDQhW/giphy.gif");
  /* background-image: url("https://media.giphy.com/media/3oEhmYMQeV3PY4BcRy/giphy.gif"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
  text-align: center;
  align-content: center;
}


.jumbotron {
  padding: 2rem 1rem;
  /* background-color: #e9ecef; */
  border-radius: 0rem !important;
  margin-bottom: 4rem;
}

h1 {
  color: white;
}