body {
    overflow-x: hidden;
}

.slider {
    position: relative;
    width: 100%;
    height: 45vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.slide {
    position: relative;
    min-width: 100%;
    height: 45vh;
    transition: 0.5s;
}

.sliderBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    height: 45vh;
    background-color: transparent;
    z-index: 999;
    text-decoration: none;
    border-color: transparent !important;
}

#leftBtn {
    left: 0%;
}

#rightBtn {
    right: 0%;
}

.slide-container {
    height: 100%;
}