/**********************************************/
/* search bar */
/**********************************************/
.brand-search {
  width: 100%;
  display: inline-flex;
  /* padding: 30%; */
  padding-top: 0;
  padding-bottom: 0%;
  /* margin-top: 60%; */
  margin-bottom: 11%;
  color: white;
}

.search-bar{
  background-color: transparent;
  border-color: white !important;
  border-style: solid;
  border-top:0px;
  border-right:0px;
  border-left:0px;
}
::placeholder{
  color:black !important;
}

.search-box {
  padding: 0;
  /* margin-top: 40%; */
  align-self: center;
  /* width: 300px; */
}

.MuiInputBase-input {
  font: inherit;
  color: currentColor;
  /* color: black; */
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  /* min-width: 0; */
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
}

.MuiSvgIcon-root {
  fill: currentColor;
  fill: white;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.MuiAutocomplete-inputRoot .MuiAutocomplete-input {
  width: 0;
  min-width: 100px !important;
}

/**********************************************/
/* product container */
/**********************************************/
.product-container {
  text-align: center;
  width: 100%;
  /* margin-top: 15%; */
  position: relative !important;
}

.brand-title {
  padding-bottom: 3%;
  text-align: left;
  text-transform: capitalize;
}

.MuiContainer-root {
  padding-left: 24px;
  padding-right: 24px;
}

.MuiContainer-root {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 600px) {
  .MuiContainer-root {
      padding-left: 24px;
      padding-right: 24px;
  }
  }

.MuiPaper-rounded {
  border-radius: 0px !important;
}

.MuiPaper-root {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}

.media {
  height: 0;
  padding-top: 56.25%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none !important;
  border-radius: 0rem !important;
}

.MuiGrid-spacing-xs-3 > .MuiGrid-item {
  padding: 12px;
  padding-right: 40px !important;
}