/**********************************************/
/* search bar */
/**********************************************/
.brand-search {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-35%);
}

.search-bar{
  background-color: transparent;
  border-color: black;
  border-style:solid;
  border-top:0px;
  border-right:0px;
  border-left:0px;
  margin-top: 15%;
}
::placeholder{
  color:black;
}

/**********************************************/
/* product container */
/**********************************************/
.product-container {
  text-align: center;
  width: 100%;
  margin-top: 28%;
}

.brand-title {
  padding-bottom: 3%;
  text-align: left;
  text-transform: capitalize;
}

.MuiContainer-root {
  padding-left: 24px;
  padding-right: 24px;
}

.MuiContainer-root {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 600px) {
  .MuiContainer-root {
      padding-left: 24px;
      padding-right: 24px;
  }
  }

.MuiPaper-rounded {
  border-radius: 0px !important;
}

.MuiPaper-root {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
}

.MuiPaper-elevation1 {
  /* box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12); */
  box-shadow: none !important;
}

.media {
  height: 0;
  padding-top: 56.25%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none !important;
  border-radius: 0rem !important;
}

.MuiGrid-spacing-xs-3 > .MuiGrid-item {
  padding: 12px;
  padding-right: 40px !important;
}