h3{
  color:white;
}

.search-bar{
  width:100%;
  height:50px;
  color:white;
  background-color:black;
  border-color:white;
  border-style:solid;
  border-top:0px;
  border-right:0px;
  border-left:0px;
  margin-top:200px;
}
::placeholder{
  color:white;
}