.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

.mt-5, .my-5 {
    padding: 2%;
    padding-top: 10%;
    margin-top: 15rem !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    /* border-radius: 0.25rem; */
    border: none !important;
}


.icon {
    margin-right: 1.5%;
}