#shoe-info-container {
    margin-top: 12% !important;
    margin-bottom: 7% !important;
}

.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none !important;
}

.card:hover {
    text-decoration: none !important;
    text-emphasis: none !important;
}

.row {
    padding: 0% !important;
}

.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: left;
}

.col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    /* margin-left: 5%; */
}

#icon:hover {
    opacity: .4;
}