.MuiToolbar-regular {
    min-height: 56px;
    width: 100% !important;
    background-color: lightslategray;
    z-index: 9999;
}

.MuiToolbar-root {
    display: flex;
    position: fixed !important;
    align-items: center;
}

.root {
    flex-grow: 1;
}

#link {
    background-color: black;
    padding: 1%;
    width: fit-content;
    text-decoration: none;
    color: white;
}

.MuiTypography-h6 {
    font-size: .8rem !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.0075em;
}

.menu-btn {
    margin-right: 8px;
}

.title {
    flex-grow: 1;
    display: block;
}

.search {
    position: relative;
    width: auto;
    margin-left: 0;
}

.input {
    color: white !important;
}

.account-circle {
    margin-left: 15px;
    margin-right: 15px;
}